*, *::before, *::after, *::placeholder {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

li {
  display: block;
  text-align: start;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

:focus-visible {
  outline: none;
}

button {
  display: flex;
  cursor: pointer;
  color: var(--dark--primary);
  border-width: 0;
  border-style: none;
  border-color: transparent;
  border-image: none;
  background-color: transparent;
}

input {
  display: flex;
  color: var(--color);
  border-width: 0;
  border-style: none;
  border-color: transparent;
  border-image: none;
  background-color: transparent;
  --color: var(--dark--primary);

  &::placeholder {
    color: var(--color);
  }
}

button, input, input::placeholder {
  font-family: var(--font);
}